.info_text{
    font-size: 30px; 
    color: #262626;
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 60px;
    margin-top: 150px;
}
p {
    font-size: 15px; 
    color: #585858
}
.box{
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom:30px;
    width: 90%;
}
.return_button{
    margin-left: 24px;
    margin-top: 50px;
    margin-bottom: 100px;
    width: 90%;
    height: 55px;
    background-color: #585858;
    border-radius: 10px;
    border: none;
    color: #F4F4F4;
    box-shadow:  0 4px 4px rgba(0,0,0,0.30), 0 4px 4px rgba(0,0,0,0.22);
    font-size: 16px;
}
input {
    width: 100%;
    height: 55px;
    border-radius: 10px;
    border-color: #D0D0D0;
    border-width: 1px;
    outline-color: #0043CE;
    padding-left: 10px;
    box-sizing: border-box;
}

.return_button.active {
    background-color: #0043CE; /* 모든 입력 필드가 채워졌을 때 버튼 색상 */
}